.comment {
    padding-top:0.5%;
    padding-bottom:0.5%;
}

.userName {
    font-size:1.5em;
    font-weight:bold;
}

.time {
    font-size:1em;
    font-weight:normal;
    padding-left:4%;
}

.commentText {
    font-size:1.2em;
    font-weight:normal;
}
